repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
      - id: check-merge-conflict
      - id: requirements-txt-fixer
      - id: end-of-file-fixer
      - id: debug-statements
        language_version: python3.10
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--target-version, py310, --line-length=120]
        language_version: python3.10

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-annotations~=2.0
          - flake8-bandit~=3.0
          - flake8-docstrings~=1.5
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-quotes
          - flake8-raise
          - flake8-deprecated
          - flake8-print
          - flake8-dunder-all
        language_version: python3.10
ci:
  autoupdate_branch: 'dev'
